.projects-container {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: #080707;
}

.projectsection-title {
    text-align: center;
    color: #fff;
    font-size: 64px;
}

.projects-container p {
    color: #fff;
    padding-top: 2%;
    text-align: center;
}

.git-container {
    position: relative;
    display: flex;
    border: #fff solid 2px;
    max-width: 250px;
    border-radius: 5px;
    padding: 1%;
    margin: 1% auto;
}

.git-link {
    position: relative;
    width: fit-content;
}

.git-logo {
    position: relative;
    padding: 1%;
    margin: 0 auto;
    width: 100%;
}

.git-desc {
    padding: 2%;
    font-size: 29px;
    color: #fff;
    text-align: center;
}

/* Project Modules */
.project-modules {
    width: 100% auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.project-modules-item {
    border-top: #fff solid 12px;
    border-bottom: #fff solid 2px;
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
    border-radius: 5px;
    width: 30%;
    padding: 2%;
    animation: movedown 1.5s linear forwards;
    opacity: 0;

    margin: 0 auto;
    margin-bottom: 10px;
}
@keyframes movedown {
    0%{
        opacity: 0;
        transform: translateY(-30px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.proj-img-box {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.proj-img {
    width: 100%;
    border: #fff solid 2px;
    
}

.proj-title {
 color: #fff;
}

.proj-desc {
    color: #fff;
    font-weight: 400;
}

.proj-link {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .project-modules-item {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .projectsection-title {
        font-size: 49px;
    }

    .project-modules {
        padding: 3%;
        margin: 2%;
    }

    .project-modules-item {
        width: 80%;
    }

    .proj-title {
        font-weight: 500;
    }

    .git-container {
        max-width: 170px;
    }

    .git-desc {
        font-size: 20px;
        margin-top: 6px;
    }
}