.projects-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #080707;
}

.projectsection-title {
    text-align: center;
    color: #fff;
    font-size: 64px;
}

.projects-container p {
    color: #fff;
    padding-top: 2%;
    text-align: center;
}

.git-link {
    position: relative;
    /* display: block; */
}

.git-logo {
    position: relative;
    display: block;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}