.smashvods-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 1%;
  padding-bottom: 2%;
  background-color: #080707;
  box-sizing: border-box;
}

.smashvod-title {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 64px;
}

.yt-gallery-container {
  padding: 1%;
  margin: 0% 9%;
  justify-content: center;
  border-radius: 5px;
  background-color: #395999;
}

.yt-video {
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.yt-video-iframe, .video-container object, .video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.yt-title {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 29px;
}

.yt-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  position: relative;
  padding: 1%;
}

.yt-thumbnail {
  width: auto;
  height: 120px;
  cursor: pointer;
}

.gallery-item:hover .play-icon {
  opacity: 1;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 400ms ease;
}

.play-icon-img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .yt-thumbnail {
    height: 100px;
  }
}