.footer-container {
    position: relative;
    background: linear-gradient(90deg, #1c1b1b 0%, #1a1717 100%);
}

.row {
    padding: 2.9px;
    display: flex;
}

.col {
    padding: 1.2% 0% 1% 7%;
    width: 33.33%;
}

.footer-list {
    padding: 1%;
}

footer.link {
    position: relative;
    display: flex;
    padding: 5%;
}

.footer-title {
    color: #fff;
    font-weight: 600;
}

.footer-item {
    display: flex;
    color: #fff;
    list-style: none;
    padding: 2% 0% 2% 3%;
}

.footer-item a {
    display: flex;
    text-decoration: none;
}

.footer-item a:visited {
    color: #fff;
    text-decoration: none;

}

.footer-item a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
}

.footer-item a:active {
    color: #fff;
    text-decoration: none;
}

.footer-item a:link {
    color: #fff;
    text-decoration: none;
}

.footer-item h4 {
    font-weight: 300;
    padding-top: 0.5%;
    padding-right: 6px;
}

.footer-icon {
    max-width: 26px;
    max-height: 26px;
    min-width: 20px;
    min-height: 20px;
    filter: invert(100%) sepia(6%) saturate(5%) hue-rotate(163deg) brightness(99%) contrast(107%);
}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .col {
        width: 80%;
        align-self: center;
        padding: 1%;
    }

    .footer-list {
        padding: 0%;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-title {
        display: none;
    }

    .footer-item {
        align-self: center;
        display: inline-block;
        padding: 2% 8%;
    }

    .footer-item a {
        padding-top: 1.2%;
    }
}